<div class="container-fluid">
  <h1 class="text-center">Video chat system with WeTech-Global!</h1>

  <div class="row pd-top20" *ngIf="!isUserJoined">
    <div class="col">
      <input class="form-control" [(ngModel)]="currentUser" required placeholder="Please enter your name ..."
        type="text">
    </div>
    <div class="col">
      <button [disabled]="!currentUser" (click)="saveUsername()" type="button"
        class="btn btn-primary btn-block">Join</button>
    </div>
  </div>

  <div class="row" *ngIf="isUserJoined">
    <div class="col-4">
      <div class="card mb-12 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> List of participants.</h4>
        </div>
        <div class="card-body list-user-box">
          <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card mb-12 shadow-sm">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <input class="form-control" [(ngModel)]="dataString" required placeholder="Write a message" type="text">
            </div>
            <div class="col-4">
              <button (click)="sendMessage()" type="button" class="btn btn-primary btn-block">Send</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mt-4">
            <div class="col">
              <div class="chat-box">
                <ng-container *ngFor="let message of messages">
                  <div [ngClass]="{'my-message': message.own, 'other-message': !message.own}">
                    {{message.message}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isUserJoined">
    <div class="row mt-4">
      <div class="col">
        <h5 *ngIf="userVideo">{{userVideo}}</h5>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <video #videoPlayer width="320" height="240" controls></video>
      </div>
    </div>
  </div>
</div>