.chat-box {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: #fff;
  height: 200px;
  overflow: scroll;
  flex-wrap: nowrap;
}

.my-message {
  display: flex;
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #5b5377;
  border-radius: 16px 16px 0 16px;
  border: 1px solid #443f56;
  align-self: flex-end;
}

.other-message {
  display: flex;
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #6c8ea4;
  border-radius: 16px 16px 16px 0;
  border: 1px solid #54788e;
  align-self: flex-start;
}

.border-box {
  border: 1px solid #333;
  padding: 10px;
}

.list-user-box {
  height: 272px;
  overflow: auto;
}
.pd-top20 {
  padding-top: 20px;
}